In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")

In [3]:
test=pd.read_csv("test.csv")

In [4]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
train.drop("id",inplace=True,axis=1)
test.drop("id",inplace=True,axis=1)

In [7]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
stemmer=PorterStemmer()
words=set(stopwords.words("english"))
for index,row in train.iterrows():
    train.at[index,"tweet"]=row["tweet"].lower()
    train.at[index,"tweet"]="".join(e for e in row["tweet"] if (e.isalnum() and  not ("#" in e) and not ("@" in e)))
    train.at[index,"tweet"]="".join(e for e in row["tweet"] if e not in words)
    train.at[index,"tweet"]="".join(stemmer.stem(e) for e in row["tweet"])
    train.at[index,"tweet"]=word_tokenize(row["tweet"])
    filter_words=list()
    for i in range(len(train.at[index,"tweet"])):
        if train.at[index,"tweet"][i].isalnum():
            filter_words.append(train.at[index,"tweet"][i])
    train.at[index,"tweet"]=filter_words
    train.at[index,"tweet"]=" ".join(e for e in train.at[index,"tweet"])

In [8]:
train.head()

   label                                              tweet
0      0  user when a father is dysfunctional and is so ...
1      0  user user thanks for lyft credit i ca use caus...
2      0                                bihday your majesty
3      0         model i love u take with u all the time in
4      0                  factsguide society now motivation

In [9]:
stemmer=PorterStemmer()
words=set(stopwords.words("english"))
for index,row in test.iterrows():
    test.at[index,"tweet"]=row["tweet"].lower()
#     test.at[index,"tweet"]="".join(e for e in row["tweet"] if (e.isalnum() and  not ("#" in e) and not ("@" in e)))
    test.at[index,"tweet"]="".join(e for e in row["tweet"] if e not in words)
#     test.at[index,"tweet"]="".join(stemmer.stem(e) for e in row["tweet"])
    test.at[index,"tweet"]=word_tokenize(row["tweet"])
    filter_words=list()
    for i in range(len(test.at[index,"tweet"])):
        if test.at[index,"tweet"][i].isalnum():
            filter_words.append(test.at[index,"tweet"][i])
    test.at[index,"tweet"]=filter_words
    test.at[index,"tweet"]=" ".join(e for e in test.at[index,"tweet"])

In [10]:
test.head()

                                               tweet
0                  ulfe lfe requre pn ecn wllpwer fn
1          uer whe uprec wn everne ee he new ve n wh
2                   fe w hel ur cne lwhel helh helng
3  he hp n he cure chl bk up fr reervn lre f e wh...
4       3r bh zng hlru nephew el hr uncle ve lve u n

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
vectorizer=CountVectorizer()

In [13]:
X=vectorizer.fit_transform(train["tweet"])

In [14]:
train.head()

   label                                              tweet
0      0  user when a father is dysfunctional and is so ...
1      0  user user thanks for lyft credit i ca use caus...
2      0                                bihday your majesty
3      0         model i love u take with u all the time in
4      0                  factsguide society now motivation

In [14]:
X_test=vectorizer.transform(corpus_test)

In [15]:
target=train["label"]

In [16]:
train.drop("label",inplace=True,axis=1)

In [17]:
from sklearn.svm import SVC

In [18]:
model=SVC()

In [21]:
model.fit(X,target)

/home/sirzechlucifer/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)